In [2]:
import pandas as pd
from rdkit.Chem import AllChem, PandasTools

In [3]:
df = pd.read_csv("DPPH.csv")
df

    Mol.                                              SMILE   IC50
0      1                             OC1=C(C)C=C(O)C(Br)=C1   11.0
1      2                                OC1=C(C)C=C(OC)C=C1   17.0
2      3                                 CC1=C(O)C=CC(O)=C1   12.0
3      4                                OC1=C(CO)C=C(O)C=C1    7.0
4      5               CC1=CC=C(C(C)CC(/C=C(C)/C)=O)C(O)=C1  234.0
..   ...                                                ...    ...
94    95          OC1=C(O)C(O)=CC(CC(NCCCC2=CC=CC=C2)=O)=C1    7.1
95    96  OC1=C(OC)C=C(O[C@@H]2O[C@H](CO)[C@@H](O)[C@H](...   27.6
96    97  OC1=CC(/C=C/C(OC(C(O)=O)CC2=CC=C(O)C(O)=C2)=O)...   12.7
97    98  CC(C)C(C(O)=C1O)=CC2=C1[C@]34[C@](CC2)([H])[C@...   24.8
98    99  CC(C)C(C(O)=C1O)=CC2=C1[C@]34[C@](CC2)([H])[C@...   29.9

[99 rows x 3 columns]

In [5]:
df_fp = pd.read_csv("fp.csv")
df_fp

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
97,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0